body{
	font-size: 14px;
	background: #57cadd;
}
/*Estilos para el header*/
header{
	background: #cce033;
	height: 130px;
	text-align: center;
	line-height: 130px;
}
/*Estilos para el h1 que está dentro del header*/
header h1{
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	margin: auto;
}
/*Estilos para los Section*/
section{
	background: #57cadd;
	height: 100%;
	padding: 70px;
}
/*Estilo para los inputs*/
section input{
	border:none;
	color: #D3D3D3;
	display: block;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 20px;
	width: 300px;
}
/*Quita la linea de borde que resalta a los inputs*/
section input:focus{
	outline: none;
	-moz-outline: none;
}
/*Color,Padding y peso de las letras de los inputs prefijo para Webkit*/
section ::-webkit-input-placeholder{
	color:#D3D3D3;
	font-weight: bold;
	padding-right: 20px;
}
/*Elimina el fondo amarillo en los inputs del navegador Chrome*/
section input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/*Color,Padding y peso de las letras de los inputs
 prefijo para Mozilla versiones anteriores a la 18*/
section ::-moz-placeholder{
	color:#D3D3D3;
	font-weight: bold;
	padding-right: 20px;
}
/*Color,Padding y peso de las letras de los inputs 
prefijo para Mozilla versiones superiores a la 18*/
section :-moz-placeholder{
	color:#D3D3D3;
	font-weight: bold;
	padding-right: 20px;
}
/*Estilo para el boton enviar*/
section a#btn_enviar{
	background: #ff7060;
	border:none;
	box-shadow: 0px 3px 5px grey;
	color: white;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	width: 268px;
}
/*Estilos para footer*/
footer{
	background: #545561;
	bottom: 0;
	height: 100px;
	position: absolute;
	text-align: center;
	width: 100%;

}
footer div{
	display: block;
	width: 100%;
}
footer .cajas p{
	margin: 0;
	padding: 0;
}
footer ul{
	margin: 0;
	padding: 0;
}
footer ul li{
	display: inline-block;
	list-style: none;
}
/*Estilos para los links de redes sociales*/
footer ul li a{
	box-shadow: 0px 3px 5px rgba(0,0,0,0);
	margin-right: 10px;
	padding: 10px;
	text-decoration: none;
}
footer ul li a#Facebook{
	background: #415E9B;
	color: white;
}
footer ul li a#Twitter{
	background: #55ACEE;
	color: white;
}
footer ul li a#Blog{
	background: #F5F8FA;
	color: #777777;
}
.cajas{
	color:#b8b8bd; 
	margin: 0 auto;
	padding: 15px;
	width: 350px;
}
/*Clase para mantener elementos en bloque*/
.fijar{
	display: block;
}
/*Rescritura de classe css para remplazar corazon*/
.hvr-icon-pulse-grow{
	padding-right: 0px;
}
.hvr-icon-pulse-grow:before {
    content: "\f004";    
    position: relative;
    right: 0;
}